.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(3, 2, 2, 0.5);
  display: flex;
  justify-content: center;
  z-index: 2;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  min-width: 310px;
  border-radius: 10px;
  max-width: 640px;
  background-color: #fff;
}

.popup-row {
  font-weight: 700;
  font-size: 150%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-popup {
  cursor: pointer;
  border: none;
  background: none;
}

.popup-row:not(:last-child) {
  margin-bottom: 30px;
}
