.field {
  background-image: url("./bg-triangle.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 22vh;
  min-height: 63vh;
}

.paper {
  top: 16vh;
}

.scissors {
  top: 16vh;
}

.circle {
  position: relative;
}

@media (min-width: 300px) {
  .game-board-container {
    width: 335px;
  }
}

@media (min-width: 1250px) {
  .game-board-container {
    width: 25vw;
  }
}

@media (min-width: 300px) {
  .rock {
    top: 44vh;
  }
}

@media (min-width: 750px) {
  .rock {
    top: 34vh;
  }
}

@media (min-width: 1050px) {
  .rock {
    top: 28vh;
  }
}

@media (min-width: 1350px) {
  .rock {
    top: 22vh;
  }
}

.game-board-container {
  display: flex;
  position: relative;
  margin: 0 auto;
}

.gb-top {
  justify-content: space-between;
}

.gb-bottom {
  justify-content: center;
}
