.rules-button-block {
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  max-width: 50px;
  padding: 12px 55px;
  letter-spacing: 2px;
  font-weight: 600;
}

@media (min-height: 950px) {
  .rules-button-container {
    margin-top: 50px;
  }
}

.rules-button-container {
  margin-right: 50px;
  float: right;
}
