.score-board {
  border: 3px solid gray;
  border-radius: 25px;
  padding: 20px;
  overflow: auto;
  min-width: 520px;
  margin-top: 4vw;
  margin-right: 20%;
  margin-left: 20%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.sticky-center {
  position: sticky;
  top: 50%;
}

/* .score-square {
  height: 110px;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  font-weight: 700;
  overflow: auto;
  text-align: center;
} */

.score-square {
  max-height: 110px;
  max-width: 150px;
  width: 15vw;
  height: 11vw;
  border-radius: 10px;
  background-color: white;
  font-weight: 700;
  overflow: auto;
  text-align: center;
}

.score-text {
  margin-top: 10px;
  letter-spacing: 4px;
  color: #2e3c94;
}

.score-number {
  font-size: 350%;
  color: #545067;
}

.score-square-max {
  margin-left: 5px;
}
