.button-inner {
  height: 77%;
  width: 77%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: inset 0 10px 0 -4px #a0a0a052;
}

.button-outer {
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.center-image {
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: inherit;
}

.win-shadow {
  box-shadow: 0px 0px 0px 4vw rgb(255 255 255 / 10%),
    0px 0px 0px 8vw rgb(255 255 255 / 10%),
    0px 0px 0px 12vw rgb(255 255 255 / 10%);
}
