@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

body {
  margin: 0px;
  padding: 0px;
}

#root {
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );
  background-position: top;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}
