.wrap {
  display: flex;
  flex-direction: row;
}
.wrap {
  height: 45vh;
  position: relative;
  margin: 8% 0 2% 0;
}

.col-lg-3 {
  flex: 0 0 25%;
  height: inherit;
}

.col-lg-2 {
  flex: 0 0 12.5%;
  height: inherit;
}

.header {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 130%;
  letter-spacing: 3px;
}

.button {
  margin-top: 8vh;
}

.hide {
  display: none;
}

.result {
  display: flex;
  margin-top: 8vw;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.result-content {
  color: white;
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  cursor: pointer;
  font-size: 1vw;
  letter-spacing: 0.25vw;
  font-weight: 600;
  border-radius: 1vw;
  width: 17vw;
  height: 4vw;
  background-color: #ffffff;
  color: #4865f4;
}

.result-content-button {
  z-index: 1;
}
